.hotel-card {
  border: 1px solid #767e87;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  position: relative;

  &__header {
    display: flex;
    // align-items: center;
    min-height: 4.29rem;
    // padding: 0 2.14rem;
    box-shadow: inset 0 -1px 0 0 #e1e8ee, inset 0 1px 0 0 #e1e8ee;

    @include responsive(small) {
      flex-direction: column;
    }
  }

  &__image {
    width: 250px;
    height: 200px;
    padding: 5px;
  }
  &__hotel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
  &__hotel-info {
    // padding-left: 20px;
  }

  &__hotel-stars {
    color: gray;
  }

  &__name-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    word-break: break-word;
    padding-bottom: 10px;
  }

  &__username {
    word-break: break-word;
    padding: 10px 0;
  }

  &__date-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__show-btn {
    width: 100px;
    height: 26px;
    cursor: pointer;
    padding-bottom: 2px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__body {
    padding: 2.14rem;
    background-color: color('white');
    color: #4f5f73;
    font-size: 1.14rem;
    line-height: 1.5;
    border-radius: 4px;

    &_state_collapsed {
      display: none;
    }
  }

  &__slider {
    width: 250px;
    height: 200px;

    @include responsive(small) {
      width: 100%;
    }
  }

  &__loader {
    text-align: center;
  }

  &__image-loader {
    position: absolute;
    left: 10%;
    bottom: 50%;
  }
}
