.main-container {
  width: map-get($content-area-widths, 'large');
  margin-left: auto;
  margin-right: auto;

  @include responsive('medium') {
    width: map-get($content-area-widths, 'medium');
  }

  @include responsive('small') {
    width: map-get($content-area-widths, 'small');
  }
}
